.div-global {
    background-color: aqua;
}

/* Aqui começa o css da pagina de cadastro de usuario */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#cad {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.signup {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
  
.signup label {
    display: none;
}
  
.signup input[type="text"],
.signup input[type="number"],
.signup input[type="email"],
.signup input[type="password"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 5.5px;
}
  
.signup button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
}
  
.signup button:hover {
    background-color: #3e8e41;
}
  
.sucess, .error {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
  
.sucess {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}
  
.error {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

/* Aqui começa o css da pagina de login de user */

#cad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .imp {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .imp label {
    display: none;
  }
  
  .imp input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .imp input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .cads {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .cads:hover {
    background-color: #0069d9;
  }
  
  button[type="button"] {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .sucess {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  